* {
    box-sizing: border-box;
    /* border: 1px dashed blue; */
}

/* Main Styles */
body {
    text-align: center;
    background-image: url('images/brick-wall-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* height: 100vh; */
}

.main-container {
    margin: 20px auto;
    background-color: rgba(255,255,255,.7);
    max-width: 90%;
    padding: 10px 0;
    border-radius: 10px;
}

h1 {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: .05rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #23394A;
    text-shadow: 4px 2px 0px #E0E0E0;
    padding: 0;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #23394A;
    text-shadow: 2px 1px 0px #E0E0E0;
    margin: 15px auto;
}

header p {
    max-width: 90%;
}

button {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255,255,255,.8);
    border-radius: 3px;
}

button:hover {
    transform: scale(1.1);
} 

/* Category Styles */
.category-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.hidden {
    display: none;
}

.category {
    width: 70%;
    height: 50px;
    line-height: 50px;
    margin: .5rem 0;
    border: 1px solid black;
}

#music {
    background-image: url(images/music-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#film {
    background-image: url(images/film-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

#tv {
    background-image: url(images/tv-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

/* Question and Answer Styles */
.question-container {
    display: none;
    justify-content: center; 
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 10px 2px;
}

#question {
    font-weight: 700;
    letter-spacing: .02rem;
    padding: .5rem;
    color: #400101;
}

.answer {
    letter-spacing: 0;
    line-height: 1.1rem;
    text-transform: capitalize;
    margin: .2rem auto;
    background-color: #F2B279;
    border: none;
    padding: .5rem;
}

#answer-container {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Mukta Malar', sans-serif;
    margin-bottom: 2px;
}

#final-message {
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

/* Score Styles */
.score-container {
    display: none;
    width: 90%;
    margin: 0 auto;
}

.score-container h2, p {
    margin: .5rem auto;
}

#score, #questions-remaining {
    font-weight: 700;
}

/* Reset Button Styles */
#reset-game {
    width: 60%;
    margin: 1.5rem auto;
    line-height: 2.5rem;
    background-color: #000;
    color: #fff;
    border: none;
}

/* Footer Styles */

hr {
    border: .5px solid rgba(255,255,255);
    width: 90vw;
    margin: 1rem auto;
}

footer {
    font-size: .6rem;
    width: 100vw;
    font-weight: 700;
    margin: 1rem auto;
}

footer p {
    background-color: #fff;
    max-width: 350px;
    margin: 0 auto;
    padding: 1px 0;
    letter-spacing: .5px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: #D9814E;
}

footer a:hover {
    color: #AEB5BF;
}

/* Styles for tablets */

@media only screen and (min-width: 768px) {

    .category-container {
        flex-flow: row wrap;
        width: 80%;
        margin: 0 auto;
    }

    .category-container h2 {
        flex-basis: 100%;
    }

    .category {
        width: 30%;
        height: 20vh;
        line-height: 10px;
        font-size: 1.5rem;
    }
}

/* Styles for desktops and large desktops */
@media only screen and (min-width: 992px) {

    body {
        height: 100vh;
        background-size: unset;
    }

    .main-container {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 0;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: .2rem;
        text-shadow: 5px 2px 0 #E0E0E0;
    }

    h2 {
        font-size: 2rem;
    }

    .score-container p, #question-message {
        font-size: 1.2rem;
    }

    header p {
        margin: 1rem auto;
        width: 70vw;
        font-size: 1.3rem;
    }

    .question-container {
        width: 80%;
    }

    #answer-container {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 auto;
        /* height: 150px; */
        align-items: center;
        padding: 10px auto;
        
    }

    #question {
        font-size: 1.3rem;
    }

    .answer {
        width: 40%; 
        height: 50px;
        margin: 10px;
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    #reset-game {
        width: 30%;
    }

    footer p {
        max-width: 500px;
    }

}