* {
    box-sizing: border-box;
    /* border: 1px dashed blue; */
}

/* Main Styles */
body {
    text-align: center;
    background-image: url('images/beautiful-sky-875858.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
    position: relative;
}

h1 {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: .05rem;
    margin-top: 2rem;
    margin-bottom: 0;
    color: rgb(246,225,174);
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    max-width: 90%;
    margin: .5rem auto;
}

button {
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255,255,255,.8);
}

hr {
    border: .5px solid rgba(255,255,255,.5);
    width: 75vw;
    margin: 0 auto;
}

/* Category Styles */
.category-container-shown {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.category-container-hidden {
    display: none;
}

.category {
    width: 70%;
    height: 50px;
    line-height: 50px;
    margin-bottom: .5rem;
    border: 1px solid black;
}

/* Question and Answer Styles */
.question-container {
    display: none; 
    width: 90%;
    margin: 1rem auto;
}

#question {
    font-weight: 700;
    letter-spacing: .05rem;
    font-size: 1.3rem;
    padding: .5rem 0;
}

.answer {
    letter-spacing: 0;
    text-transform: capitalize;
    /* width: 90%; */
}

#answer-container {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Mukta Malar', sans-serif;
}

/* Score Styles */
.score-container {
    display: none;
}

.score-container h2, p {
    margin: .5rem auto;
}

#score, .bold {
    font-weight: 700;
}

/* Reset Button Styles */
#reset-game {
    width: 60%;
    margin: 1.5rem auto;
    font-size: .8rem;
    line-height: 2.5rem;
}

/* Footer Styles */
footer {
    margin: 1.5rem auto;
    font-size: .8rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

/* Styles for desktops and large desktops */
@media only screen and (min-width: 992px) {

    body {
        height: 100vh;
        background-size: unset;
    }

    header {
        padding-top: 3rem;
    }

    header p {
        margin: 1rem auto;
        width: 70vw;
    }

    .category-container-shown {
        flex-flow: row wrap;
        width: 80%;
        margin: 0 auto;
        padding: 2rem 0;
    }

    .category-container-shown h2 {
        flex-basis: 100%;
    }

    .category {
        width: 30%;
        height: 20vh;
        line-height: 10px;
    }

    .question-container, .score-container {
        padding: 1rem 0;
    }

    #reset-game {
        width: 30%;
    }

}